<header class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/index.ejs">
            <img src="/pictures/logo.png" alt="logo" height="60" class="me-2">
            <span>Adopt A Pet</span>
        </a>
        <div id="dateTime" class="ms-auto text-white fw-bold"></div>
    </div>
</header>